
body{
    display: flex;
    justify-content: center;
    font-family: 'Bacasime Antique', serif;
    background-image: url(/img/svg.png);
    background-repeat: no-repeat;
    background-size: cover;
  
} 

:root{
  --text: #080808;
  --achtergrond: rgba(209, 209, 204);; 
}
.card{
  background-image: linear-gradient(to top left, rgb(0, 0, 0), rgb(197, 190, 190));
    max-width: 900px;
    height: auto;
    display: grid;
    column-gap: 1%;
    grid-template-columns: auto auto;
    border-radius: 1%;
    padding: 5px;
    box-shadow: 10px 10px 10px rgb(17, 17, 17);
    margin-top: 50px;
    margin-bottom: 67px;
    opacity: 0.5;
}

.card:hover{
  box-shadow: 5px 8px 10px rgb(17, 17, 17);
  opacity: 0.8;
}
.card-links{
    width: 450px;
    height: 600px;
    border-radius: 2%;
    display: grid;
    grid-template-rows: auto auto;
    
}
.card-rechts{
    width: 450px;
    height: 600px;
    border-radius: 2%;
    display: grid;
    grid-template-rows: 95% 5%;
}

/* card flip*/
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 500px;
    perspective: 1000px; 
    border-radius: 2%;
    margin: 2px;
    
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
  }
  
  /* Position de voorkant en de achterkant */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #757373;
    color: black;
    border-radius: 40% 32% 50% 10%;
    box-shadow: 3px 10px 10px rgb(0, 0, 0);
    background-image: url('https://media.licdn.com/dms/image/C5603AQGMOrfmvZmMZA/profile-displayphoto-shrink_800_800/0/1652469160653?e=1692230400&v=beta&t=fXjzJk63iZvsTHNcVDS21iv2VQjW4WfjOFDVO9DIn6Y');
    background-size:cover;
    background-repeat: no-repeat;
  }
 
  /* Style the back side */
  .flip-card-back {
    background-color: var(--achtergrond);
    color: rgb(24, 22, 22);
    transform: rotateY(180deg);
    border-radius: 2%;
    display: grid;
    grid-template-rows: 90% 10%;
  }
  .plaatjes {
    background-color: #706767;
    border-radius: 8px;
    margin: 2px;
    padding: 5px;
    opacity: 0.5;
    border: 2px solid black;
    
  }
  .plaatjes img{
    width:30%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode:color-burn;
    
  }
  
  .social{
    width: 100%;
    background-color: rgba(238, 238, 15, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    box-shadow: 4px 6px 5px black;
  }
  .social:hover{
    box-shadow: 0px 0px 0px black;
  }
  .persoonlijk{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    font-size: 15px;
    padding: 6px;
    font-weight: 700;
    border-radius: 8px;
  }
  .display {
    justify-content: center;
    margin: 10px 10px 10px 0px;
    border-radius: 8px;
    overflow-y:scroll;
    scroll-behavior: smooth;

  }
  ::-webkit-scrollbar{
   display: none;
  }
 
  li{
    display: inline;
  }
  ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }
  li a {
    background-color: rgba(238, 238, 15, 0.3);
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 2px;
    border-radius: 0.25rem;
    border: 2px solid black;
    font-family: 'IBM Plex mono';
    font-weight: 700;
    box-shadow: 4px 6px 5px black;
    transition: transform 50ms, box-shadow 50ms;
  }
  li a:hover{
    background-color: black;
    color: white;
    box-shadow: 5px 5px 10px rgba(238, 238, 15, 0.3);
  }
  .special{
    background-color: rgba(219, 219, 11, 0.3);
    text-align: center;
    font-size: 19px;
    margin-right: 5px;
    border-radius: 8px 0px 0px 8px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #bezoeker {
    margin-left: 4px;
    color: antiquewhite;
  }
  .voorstel{
    height: 490px;
    font-size: 50px;
  }
  .voorstel > p{
    position: relative;
    left: 9%;
    top: 20%;
    width: 375px;
    background-color: --;
    border-radius: 8px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
  }
  .vaardigheden{
    margin: 8px;
    text-align: start;
  }
  .functies {
    margin: 8px;
    text-align: start;
  }
  .mail > a {
    text-decoration: none;
    color: black;
  }

  #contact .mail:hover{
    border: 2px solid black;
    border-radius: 8px;
    padding: 2px;
    margin: 0px 20% 0px 20%;
  }

  .mail:hover{
    border: 2px solid black;
    border-radius: 8px;
    padding: 2px;
  }

  .telefoon > a{
    text-decoration: none;
    color: black;
  }

  #contact .telefoon:hover{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 2px;
    margin: 0px 25% 0px 25%;
    text-align: center;     
  }
  .telefoon:hover{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 2px;
    text-align: center;     
  }

  #contact{
    display: grid;
    text-align: center;
    background-color: var(--achtergrond);
    border-radius: 8px;
    margin: 0px 10px 50px 10px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px black;
  }
  #contact:hover{
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
  }

  form > input{
    width: 70%;
    border-radius: 8px;
    border: 3px solid black;
    padding: 3px;
  }
  form {
  margin-bottom: 20px;
  }
  textarea{
    max-height: 200px;
    height: 75px;
    margin: 10px;
    color: rgb(5, 3, 3);
    padding: 6px;
    font-size: 16px;
    max-width:70%;
    width: 70%;
    border: 3px solid black;
    border-radius: 8px;
  }
  textarea:hover{
    background-color: rgb(7, 7, 7);
    border: 2px solid gold;
    color: white;
  }
  input[type=submit]{
    padding: 5px;
    font-weight: 600;
    border: 3px solid black;
    border-radius: 8px;
    margin: 0px 20px 10px 20px;
    width: 70%;
  }
  form input:focus{
    box-shadow: 2px 2px 28px rgb(0, 0, 0) ;
    background-color: #000000;
    color: white;
    border: 2px solid gold;
  }
  input[type=submit]:hover{
    background-color: rgb(7, 7, 7);
    border: 2px solid gold;
    color: white;
    box-shadow: 8px 6px 28px rgb(0, 0, 0) ;
  }
  #aboutMe{
    background-color: var(--achtergrond);
    margin: 0px 10px 50px 10px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 10px 10px 5px black;
    
  }
  #aboutMe:hover{
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
  }
  .tekst > h2 {
    text-align: center;
  }
  .tekst {
   padding: 8px;
  }
  .tekst a{
    text-decoration: none;
    color: var(--text);
  }
  #projects{
    background-color: var(--achtergrond);
    margin: 10px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 0px 10px 50px 10px;
    box-shadow: 10px 10px 5px black;
  }
  #projects:hover{
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
  }
  iframe{
    height: 340px;
    width: 400px;
    border: 0px;
  }
  #certificate{
    background-color: var(--achtergrond);
    margin: 10px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 0px 10px 50px 10px;
    box-shadow: 10px 10px 5px black;
  }
  #certificate:hover{
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
  }


